DemoApp/Service References/ServiceReference/CustomerDemoApp.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CustomerDemoApp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CustomerDemoApp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDBCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DBCustomer" nillable="true" type="tns:DBCustomer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDBCustomer" nillable="true" type="tns:ArrayOfDBCustomer" />
  <xs:complexType name="DBCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Curp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBCustomer" nillable="true" type="tns:DBCustomer" />
</xs:schema>