DemoApp/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CustomerDemoApp.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustomerService_getAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllCustomers" />
  </wsdl:message>
  <wsdl:message name="CustomerService_getAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_addCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:addCustomer" />
  </wsdl:message>
  <wsdl:message name="CustomerService_addCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_deleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCustomer" />
  </wsdl:message>
  <wsdl:message name="CustomerService_deleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerService">
    <wsdl:operation name="getAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomerService/getAllCustomers" message="tns:CustomerService_getAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomerService/getAllCustomersResponse" message="tns:CustomerService_getAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomerService/addCustomer" message="tns:CustomerService_addCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomerService/addCustomerResponse" message="tns:CustomerService_addCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/CustomerService/deleteCustomer" message="tns:CustomerService_deleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustomerService/deleteCustomerResponse" message="tns:CustomerService_deleteCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_CustomerService" type="tns:CustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllCustomers">
      <soap:operation soapAction="http://tempuri.org/CustomerService/getAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <soap:operation soapAction="http://tempuri.org/CustomerService/addCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCustomer">
      <soap:operation soapAction="http://tempuri.org/CustomerService/deleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_CustomerService" binding="tns:BasicHttpBinding_CustomerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CustomerDemoAppWCFLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>